@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@keyframes popUpBounce {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.pop-up-bounce {
  animation: popUpBounce 0.8s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

.opacity-0 {
  opacity: 0;
}

html,
body {
  /* @apply bg-white dark:bg-gray-950; */

  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}
